<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.general.mediaplayer.FindFormula"
          android:versionCode="1"
          android:versionName="1.0"
          android:largeHeap="true"
          android:installLocation="auto"
        >

    <uses-sdk android:minSdkVersion="16"/>

    <application
			android:label="@string/app_name"
			android:name=".Application"
			android:icon="@drawable/ic_launcher"
			>

        <activity android:name="com.general.mediaplayer.FindFormula.ScanMediaActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
                  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

		<activity android:name=".VideoActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".BaseActivity"/>

		<activity android:name=".Cat.CatBreedSelActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>

		<activity android:name=".Cat.CatLifestyleSelActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Cat.CatMaineCoonSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>

		<activity android:name=".Cat.CatDetailViewActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@style/NoTitleDialog"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>

		<activity android:name=".Cat.CatPersianSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>

		<activity android:name=".Cat.CatRagdollSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>

		<activity android:name=".Cat.CatSiameseSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>

		<activity android:name=".Cat.CatFormulaActivity"

				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Cat.CatKittenSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Cat.CatIndoorSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Cat.CatSpayedSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Cat.CatSpecialSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Cat.CatWetSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>

		<activity android:name=".Cat.CatKittenFormulaActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Cat.CatIndoorFormulaActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Cat.CatSpayedFormulaActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Cat.CatSpecialFormulaActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Cat.CatWetFormulaActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogBreedSelActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogBeagleSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogBulldogSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogChihuahuaSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogGermanSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogLabradorSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogShihSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogWestieSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogYorkieSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogFormulaActivity"

				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogLifestyleSelActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogXsmallSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogXsmallFormulaActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogMiniSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogMiniFormulaActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogMediumSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogMediumFormulaActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogMaxiSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogMaxiFormulaActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogGiantSpotsActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".Dog.DogGiantFormulaActivity"
				  android:launchMode="singleInstance"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
				  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
				/>
		<activity android:name=".BaseFormulaActivity"/>


	</application>
</manifest>
